td, th{
    border: 1px solid black;
    margin: 0;
    padding: 5px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    gap:20px;
    border: 1px solid;
}

form span{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}